.wrapper {
    min-width: 20rem;
    margin: auto;
    padding-bottom: 3.75rem;
}

.header-wrapper {
    background-image: url(../img/vector-smart-object@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 34.375rem;
    margin-bottom: 4.375rem;
    padding-top: 1.25rem;
}

.container {
    min-width: 20rem;
    max-width: 58.75rem;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 2.1875rem;
}

.identification a {
    display: inline-block;
    width: 5.625rem;
    height: 2.25rem;
    border: 0.125rem solid rgba(255, 255, 255, 0);
    border-radius: 1.125rem;
    color: #ffffff;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    line-height: 2rem; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.8125rem;
}

.identification a:hover {
    border-color: rgba(255, 255, 255, 1);
}

.logo {
    display: block;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}

.home-title {
    margin-bottom: 0.625rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 2.25rem;
}

.home-text {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 0.9375rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.125rem; 
}

.home-button {
    display: block;
    width: 17.5rem;
    height: 2.5rem;
    margin: auto;
    background-color: #ff4e50;
    border-radius: 1.25rem;
    text-align: center;
    line-height: 2.5rem;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
}

.home-button:hover {
    color: #333333;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #333333;
    text-align: center;
    margin-bottom: 1.25rem;
}

.cards {
    margin-bottom: 1.875rem;
}

.card-imege {
    display: block;
    width: 7.5rem;
    height: 7.5rem;
    margin: auto;
    margin-bottom: 1.25rem;
    position: relative;
}

.card-imege img {
    display: block;
    width: 100%;
    height: auto;
}

.fa {
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    border: 0.25rem solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.fa-tv {
    background-color: #ff4e50;
    background-image: url(../img/shape-128.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fa-pr {
    background-color: #ffa507;
    background-image: url(../img/shape-155@1x.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fa-cofe {
    background-color: #1cd7ad;
    background-image: url(../img/shape-153@1x.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fa-aircraft {
    background-color: #4e73db;
    background-image: url(../img/shape-170@1x.png);
    background-repeat: no-repeat;
    background-position: center;
}

.user-name {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: #333333;
    text-align: center;
    margin-bottom: 1.25rem;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    color: #666666;
    text-align: center;
}

.button {
    display: block;
    width: 17.5rem;
    height: 2.5rem;
    margin: auto;
    border: 0.125rem solid rgba(255, 78, 80, 0);
    border-radius: 1.25rem;
    text-align: center;
    line-height: 2.25rem;
    color: #ff4e50;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
}

.button:hover {
    border-color: rgba(255, 78, 80, 1)
}

@media (max-width: 767px) {
    .identification {
        margin-bottom: 7.5rem;
    }

    .header {
        flex-direction: column-reverse;
    }

    .card:not(:last-child) {
        margin-bottom: 1.25rem; 
    }
}

@media (min-width: 768px) {
    .header-wrapper {
        background-image: url(../img/vector-smart-object.png);
        background-color: rgba(26, 25, 21, 0.2);
        background-blend-mode: overlay;
        min-height: 43.75rem;
        padding-top: 0;
    }

    .header {
        justify-content: space-between;
        padding: 3.125rem 3.125rem 0px 3.125rem;
        margin-bottom: 9.375rem;
    }

    .home-title {
        width: 63%;
        margin: auto;
        margin-bottom: 1.25rem;
        font-size: 3rem;
        line-height: 3.875rem;
    }

    .home-text {
        font-size: 1.5rem;
        margin-bottom: 1.875rem;
    }

    .home-button {
        width: 14.0625rem;
        font-size: 0.8125rem;
    }

    h3 {
        margin-bottom: 2.1875rem;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        flex: 0 0 45%;
    }

    .button {
        width: 12.1875rem;
        font-size: 0.8125rem;
    }
}

@media (min-width: 768px) and (max-width: 939px) {
    .cards {
        width: 68%;
        margin: auto;
    }

    .card:nth-last-child(n+3) {
        margin-bottom: 1.875rem;
    }
}

@media (min-width: 940px) {
    .header-wrapper {
        background-image: url(../img/vector-smart-object-1440.png);
        background-color: rgba(26, 25, 21, 0.2);
        background-blend-mode: overlay;
    }

    .header {
        padding-top: 2.1875rem;
        margin-bottom: 9.375rem;
    }

    .card {
        flex: 0 0 23%;
    }
}